<div ng-controller="RegCtrl as ctrl">
    <div class="page-header">
        <h1>Employee Management System
            <small>Registration</small>
        </h1>
    </div>
    <br/>

    <!-- Form -->
    <form name="regForm" novalidate ng-submit="ctrl.register()" autocomplete="off">

        <!--Input Employee no. -->
        <div class="form-group" ng-class="{ 'has-error': regForm.empNo.$touched && regForm.empNo.$invalid }">

            <label for="empNo">Employee No:</label>

            <input type="number" id="empNo" name="empNo" class="form-control" ng-model="ctrl.employee.id" required>

            <div class="help-block" ng-messages="regForm.empNo.$error" ng-if="regForm.empNo.$touched">
                <p ng-message="required">Employee Number Required</p>
            </div>
        </div>

        <!--Input Employee first name-->
        <div class="form-group" ng-class="{ 'has-error': regForm.empFirstName.$touched && regForm.empFirstName.$invalid }">
            <label for="empFirstName">First name:</label>

            <input type="text" id="empFirstName" name="empFirstName" class="form-control" ng-model="ctrl.employee.first_name" ng-minlength="2"
                required>

            <div class="help-block" ng-messages="regForm.empFirstName.$error" ng-if="regForm.empFirstName.$touched">
                <p ng-message="required">Employee first Name Required</p>
                <p ng-message="minlength">Employee first Name Too Short</p>
            </div>
        </div>

        <!--Input Employee last name-->
        <div class="form-group" ng-class="{ 'has-error': regForm.empLastName.$touched && regForm.empLastName.$invalid }">
            <label for="empFirstName">Last name:</label>

            <input type="text" id="empLastName" name="empLastName" class="form-control" ng-model="ctrl.employee.last_name" ng-minlength="2"
                required>

            <div class="help-block" ng-messages="regForm.empLastName.$error" ng-if="regForm.empLastName.$touched">
                <p ng-message="required">Employee last name Required</p>
                <p ng-message="minlength">Employee last name Too Short</p>
            </div>
        </div>

        <!--Input Employee gender -->
        <div class="form-group" ng-class="{ 'has-error': regForm.empGender.$touched && regForm.empGender.$invalid }">
            <label for="empGender">Gender:</label>
            <div class="radio">
                <label><input type="radio" name="empGenderM" id="empGenderM" value="M" ng-model="ctrl.employee.gender"
                   required>M</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="empGenderF" id="empGenderF" value="F" ng-model="ctrl.employee.gender"
                   required>F</label>
            </div>

            <!-- <input type="text" id="empGender" name="empGender"
                   class="form-control"
                   ng-model="ctrl.employee.gender"
                   ng-minlength="1"
                   required> -->

            <div class="help-block" ng-messages="regForm.empGender.$error" ng-if="regForm.empGender.$touched">
                <p ng-message="required">Employee gender Required</p>
                <p ng-message="minlength">Employee gender Too Short</p>
            </div>
        </div>

        <!--Input employee birth date -->
        <div class="form-group" ng-class="{ 'has-error': regForm.empBirthdate.$touched && regForm.empBirthdate.$invalid }">
            <label for="empBirthdate">Birth date:</label>

            <input type="date" id="empBirthdate" name="empBirthdate" class="form-control" ng-model="ctrl.employee.birth_date" ng-minlength="2"
                required>

            <div class="help-block" ng-messages="regForm.empBirthdate.$error" ng-if="regForm.empBirthdate.$touched">
                <p ng-message="required">Employee birthdate Required</p>
                <p ng-message="minlength">Employee birthdate Too Short</p>
            </div>
        </div>

        <!--Input employee hire date -->
        <div class="form-group" ng-class="{ 'has-error': regForm.empHiredate.$touched && regForm.empHiredate.$invalid }">
            <label for="empHiredate">Hire date:</label>

            <input type="date" id="empHiredate" name="empHiredate" class="form-control" ng-model="ctrl.employee.hire_date" ng-minlength="2"
                required>

            <div class="help-block" ng-messages="regForm.empHiredate.$error" ng-if="regForm.empHiredate.$touched">
                <p ng-message="required">Employee birthdate Required</p>
                <p ng-message="minlength">Employee birthdate Too Short</p>
            </div>
        </div>

        <!-- Click register() button -->
        <div class="form-group">
            <button type="submit" class="btn-success form-control" ng-disabled="regForm.$invalid">
                Register
            </button>
        </div>

    </form>

    <!-- Status messages-->
    <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code" ng-class="{'alert-success': ctrl.status.code == 0, 'alert-danger': ctrl.status.code != 0 }">

        <button class="close" data-dismiss="alert">
            <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
            &times;
        </button>

        <p>Error No: {{ ctrl.status.code + " " + ctrl.status.message }}</p>

    </div>
</div>