<div ng-controller="RegCtrl as ctrl">
    <div class="page-header">
        <h1>Department Management System
            <small>Registration</small>
        </h1>
    </div>
    <br/>

    <!-- Form -->
    <form name="regForm" novalidate ng-submit="ctrl.register()" autocomplete="off">

        <!--Input department no. -->
        <div class="form-group"  ng-class="{ 'has-error': regForm.deptNo.$touched && regForm.deptNo.$invalid }">

            <label for="deptNo">Department No:</label>
            
            <input type="number" id="deptNo" name="deptNo"
                   class="form-control"
                   ng-model="ctrl.department.id"
                   required>

            <div class="help-block" ng-messages="regForm.deptNo.$error" ng-if="regForm.deptNo.$touched">
                <p ng-message="required">Department Number Required</p>
            </div>
        </div>

        <!--Input department name-->
        <div class="form-group" ng-class="{ 'has-error': regForm.deptName.$touched && regForm.deptName.$invalid }">
            <label for="deptName">Department name:</label>

            <input type="text" id="deptName" name="deptName"
                   class="form-control"
                   ng-model="ctrl.department.name"
                   ng-minlength="2"
                   required>

            <div class="help-block" ng-messages="regForm.deptName.$error" ng-if="regForm.deptName.$touched">
                <p ng-message="required">Department Name Required</p>
                <p ng-message="minlength">Department Name Too Short</p>
            </div>
        </div>

        <!-- Input manager -->
        <div class="form-group"
             ng-class="{ 'has-error': regForm.deptManager.$touched && regForm.deptManager.$invalid }">
            <label for="deptManager">Manager:</label>
            <select id="deptManager" name="deptManager" class="form-control"
                    ng-options="employee.emp_no as employee.first_name + ' ' + employee.last_name
                    for employee in ctrl.employees"
                    ng-model="ctrl.department.manager" required>
            </select>
            <div class="help-block" ng-messages="regForm.deptManager.$error" ng-if="regForm.deptManager.$touched">
                <p ng-message="required">Department Manager Required</p>
            </div>
        </div>


        <!-- Click register() button -->
        <div class="form-group">
            <button type="submit"
                    class="btn-success form-control"
                    ng-disabled="regForm.$invalid">
                Register
            </button>
        </div>

    </form>

    <!-- Status messages-->
    <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
         ng-class="{'alert-success': ctrl.status.code == 0, 'alert-danger': ctrl.status.code != 0 }">

        <button class="close" data-dismiss="alert">
            <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
            &times;
        </button>

        <p>Error No: {{ ctrl.status.code + " " + ctrl.status.message }}</p>

    </div>
</div>