<div class="container" ng-controller="SearchDBCtrl as ctrl">

    <div class="page-header">
        <h1>Employee Management System
            <small>SearchDB</small>
        </h1>
    </div>

    <!-- Search input -->
    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchString"
                   ng-model="ctrl.searchString"
                   placeholder="Enter employee name or number">
        </div>

        <!-- Search buttons -->
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Employee
            </button>
        </div>
    </form>
    <hr>

    <!-- Employee table display -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Employee No</th>
            <th>Employee Name</th>
        </tr>
        </thead>

        <tbody>
            <tr ng-repeat="emp in ctrl.employees">
                <td>{{ emp.emp_no }}</td>
                <td>{{ emp.first_name }} {{ emp.last_name }}</td>
            </tr>
        </tbody>

        <!-- <tbody>
        <tr ng-repeat="emp in ctrl.employees">
            <td><a ng-click="ctrl.goEdit(emp.emp_no)">{{emp.emp_no}}</a></td>
            <td>{{ emp.first_name }} {{ emp.last_name }}</td>
        </tr>
        </tbody> -->
    </table>
</div>